* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

a {
    color: var(--color-black);
}